AWS_REGION=
# DynamoDB Local accepts any credentials, but the AWS SDK insists on having some
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# If this is set, the app uses DynamoDB Local instead of real AWS
DYNAMODB_ENDPOINT=
DYNAMODB_TABLE=

RABBITMQ_ENDPOINT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
QUEUE_NAME=